body {
  background-color: white;
  font-family: monospace;
}

.container {
  background: lightGrey;
  width: 400px;
}

.display {
  background-color: black;
  color: white;
  font-size: 35px;
  display: flex;
  flex-basis: 100%; 
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.squares {
  display:flex;
  flex-wrap: wrap;
}

button {
  flex-basis: 25%;
  padding: 25px;
  font-size: 25px;
  border: 1px solid black;
} 

.btn-number {
  background-color:#d8d9db;
}

.btn-symbol, .btn-equals {
  background-color:#df974c;
  color: white;
}

.btn-clear {
   background-color:#d8d9db;
   flex-basis: 50%;
}

.btn-zero {
  background-color:#d8d9db;
  flex-basis: 75%;
}

.btn-number:hover, .btn-zero:hover, .btn-clear:hover {
  background-color:#ebebeb;
}

.btn-symbol:hover, .btn-equals:hover  {
  background-color:#dfb07e;
}

.btn-number:active, .btn-clear:active, .btn-zero:active {
  background-color:#bbbcbe;
}

.btn-symbol:active, .btn-equals:active {
  background-color: #dd8d37;
}
