body {
  background-color: white;
  height: 300px;
  width: 100px;
  font-family: monospace;
}

.container {
  background: lightGrey;
  width: max-content;
  margin: auto;
}

.display{
  width: 100%;
  background-color: black;
  color: white;
  height: 65px;
  font-size: 48px;
  display: flex;
  justify-content: flex-end;

}

.buttons{
  max-width: 300px;
  display:flex;
  flex-wrap: wrap;

}

button{
  flex: 1 25%;
  padding: 15px;
  font-size: 26px;
  border: 1px solid black;
} 

.btn-number {
  background-color:#d8d9db;
}

.btn-operator {
  background-color:#df974c;
  color: white;
}

.btn-equals {
  background-color:#df974c;
  color: white;
}

.btn-clear {
   background-color:#d8d9db;
   flex: 1 50%;
}

.btn-zero {
  background-color:#d8d9db;
  flex: 1 75%;
}
